.env
node_modules/
dist/
coverage/
.DS_Store
*.log
.idea/
.vscode/
target/
*.iml
/backend/target/
/backend/.idea/
/backend/.vscode/
/backend/*.iml
/frontend/quotecraft-ui/node_modules/
/frontend/quotecraft-ui/dist/
/frontend/quotecraft-ui/.idea/
/frontend/quotecraft-ui/.vscode/
/frontend/quotecraft-ui/*.iml